.container {
    font-family: 'Pixelify Sans', sans-serif;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    justify-content: center;
    align-items: center;
  }