@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

.scrollableList {
  text-align: left;
  width: 70vw;
  height: 70vh;
  max-height: 72vh;
  overflow-y: auto;
  border: 0.1px solid #ddd;
  padding: 0px;
}

.default {
  font-size: 25px;
  text-align: center;
}

.input {
  margin-top: 5px;
  display: flex;
  flex-direction: row;
}

.modal {
  font-family: 'Pixelify Sans', sans-serif;
  justify-content: center;
  align-items: center;
}

.chatMessageContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
}

.title {
  font-weight: bold;
}

.text {
  overflow-wrap: break-word;
  word-wrap: break-word;
  flex: 1;
  white-space: normal;
  width: 80%;
}

.badgeContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.deleteContainer {
  margin-top: 5px;
  font-size: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.deleteContainer p {
  margin: 0;
  padding-right: 5px;
}

.deleteContainer img {
  cursor: pointer;
}

.delete {
  width: 20px;
  height: 20px;
}

.inputContainer {
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.inputBox {
  margin-right: 2px;
  width: 100%;
}
