@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

.scrollableList {
  text-align: left;
  width: 70vw;
  height: 70vh;
  max-height: 72vh;
  overflow-y: auto;
  border: 0.1px solid #ddd;
  padding: 0px;
}

.default {
  font-size: 25px;
  text-align: center;
}

.input {
  margin-top: 5px;
  display: flex;
  flex-direction: row;
}

.modal {
  font-family: 'Pixelify Sans', sans-serif;
}
